* {
  box-sizing: border-box;
}

.App {
  padding: 1rem;
}

.bg-image {
  margin-top: 0;
  padding-top: 0;
  object-fit: cover;
  align-self: center;
}

.container {
  width: 65%;
  object-fit: contain;
  margin: 6px auto;
  text-align: center;
}

.dishes_container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;

}
.dishes_container img{
  width: 100%;
}
.add-new-dish {
 text-align: center;
 margin: 20px;
}
.events_container {
  outline: 1px solid transparent;
  display: flex;
  justify-content: center;
  text-align: center;
}

.table-container {
  text-align: center;
}
.link_button{
  display: inline-block;
  padding: 6px 10px;
  border: 2px solid #333;
  box-shadow: 3px 3px 5px 3px;
  margin: 0 10px;
  border-radius: 10px;
}
.link_button:first-of-type{
  margin-top: 20px;
}

.link_button:hover{
  background-color: #ddd;
  padding: 6px 10px;
  border: 2px solid #222;
  box-shadow: 3px 3px 5px 3px;
}
@media (max-width: 600px) {
  .dishes_container {
    display: flex;
    flex-direction: column;
  }
  .container {
    max-width: 620px;
    margin: 0 auto;
    
  }
  .events_container {
    display: flex;
    flex-direction: column;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.input-content {
  
  display: flex;
  justify-content: flex-start;
}

.input-text {
  display: block;
  text-align: left;
  margin: 20px;
  margin-top: 50px;
  font-size: 20px;
}

.input-user {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.dish {
  margin: 1rem;
  padding: 1rem;
  border: solid 1px grey;
  border-radius: 20px;
  box-shadow: 10px 5px 5px grey;
}
input[type=checkbox]{
  height: 1.4rem;
  accent-color: green;
    background-color: green;
    width: 1.4rem;
}
.checkbox-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: rgb(8, 8, 8);
  text-align: center;
  display: inline-block;
  text-shadow: 2px 2px 2px rgb(134, 133, 133);
}

/* .img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 1px solid transparent;
  border-radius: 30px;
} */
span h2{
  margin: 10px;
}

.spin {
  border: 10px solid #8a891a;
  border-radius: 50%;
  border-top: 10px solid #b0adac;
  border-right: 10px solid #7b736c;
  border-bottom: 10px solid #b0adac;
  border-left: 10px solid #575859;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .btn-delete {
  cursor: pointer;
  margin-right: 50px;
  padding: 2px 4px;
  background-color: #f7b49b;
  border-radius: 5px;
  font-weight: 600;
} */



button::before {
  margin-top: 20px;
  cursor: pointer;
  padding: 4px 4px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 400;
}

button:hover {
  box-shadow: 5px 1px 5px rgb(137, 157, 155);
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* img {
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
   height: 100%;
} */

.main-about{
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
}
.text-container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

p {
  margin-top: 10px;
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  color: #7b736c;
  justify-content: center;
}



h2, h4{
text-align: center;
} 

button, a {
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-weight: 500;
}

